body {
    padding-top: 56px;
    font-family: "Lato", sans-serif;
}

.navbar-brand{
  width: 85%;
  text-align: center;
  font-size: 25px;
}

.navbar-toggler{
  text-align: left;
}


.backg{
	background-color: #4DB898;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #4DB898;
  color: black;
  text-align: center;
}